<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access to Photo Library!</string>
	<key>NSCameraUsageDescription</key>
	<string>Need access to Camera!</string>
	<key>API_KEY</key>
	<string>AIzaSyBurgUwjVkO5lj9y6941PfpxOAtyR6782o</string>
	<key>GCM_SENDER_ID</key>
	<string>844545910686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AleksandrKotlyar.YammyYammyShop-App2023</string>
	<key>PROJECT_ID</key>
	<string>yammyyammyappnew</string>
	<key>STORAGE_BUCKET</key>
	<string>yammyyammyappnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:844545910686:ios:9e8d27c75e2cd19c34d88f</string>
</dict>
</plist>
